# {{ ansible_managed }}
#
# dhcpd.conf
#
# Configuration file for ISC dhcpd
#

# option definitions common to all supported networks...
option domain-name "{{ dhcp_ddns_domain_name }}";
{% if dhcp_ddns_v4_dns_servers != [] %}
option domain-name-servers {{ dhcp_ddns_v4_dns_servers | join(', ') }};
{% endif %}

default-lease-time 600;
max-lease-time 7200;

# The ddns-updates-style parameter controls whether or not the server will
# attempt to do a DNS update when a lease is confirmed. We default to the
# behavior of the version 2 packages ('none', since DHCP v2 didn't
# have support for DDNS.)
ddns-updates on;
ddns-update-style interim;
ignore client-updates;
update-static-leases on;

include "/etc/dhcp/ddns.key";

# If this DHCP server is the official DHCP server for the local
# network, the authoritative directive should be uncommented.
authoritative;

{% for subnet in dhcp_ddns_v4_subnets %}
subnet {{ subnet.network }} netmask {{ subnet.netmask }} {
{% if subnet.routers is defined %}
  option routers {{ subnet.routers | join(', ') }};
{% endif %}
{% if subnet.dhcp_range is defined %}
  range {{ subnet.dhcp_range.begin }} {{ subnet.dhcp_range.end }};
{% endif %}
}
{% endfor %}

{% for host in dhcp_ddns_v4_static_mappings %}
host {{ host.name }} {
    hardware ethernet {{ host.mac }};
    fixed-address {{ host.ip }};
}

{% endfor %}

zone {{ dhcp_ddns_domain_name }}. {
    primary 127.0.0.1;
    key {{ dhcp_ddns_key }};
}

{% for rz in dhcp_ddns_v4_reverse_zones %}
zone {{ rz }}.in-addr.arpa. {
    primary 127.0.0.1;
    key {{ dhcp_ddns_key }};
}
{% endfor %}
