options {
	directory "/var/cache/bind";

    allow-query { any; };

    recursion no;
    allow-transfer { none; };

	//========================================================================
	// If BIND logs error messages about the root key being expired,
	// you will need to update your keys.  See https://www.isc.org/bind-keys
	//========================================================================
	dnssec-validation auto;

	listen-on-v6 { any; };

    auth-nxdomain no;  // conform to RFC1035
};
