//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

include "/etc/bind/ddns.key";

zone "{{ dhcp_ddns_domain_name }}" {
	type master;
	file "/var/lib/bind/db.{{ dhcp_ddns_domain_name }}";
	notify no;
	allow-update { key {{ dhcp_ddns_key }}; };
};

{% for name in (dhcp_ddns_v4_subnets | selectattr('domain_name', 'defined') | map(attribute='domain_name') | flatten) %}
zone "{{ name }}" {
	type master;
	file "/var/lib/bind/db.{{ name }}";
	notify no;
	allow-update { key {{ dhcp_ddns_key }}; };
};
{% endfor %}

{% for rz in (dhcp_ddns_v4_subnets | selectattr('reverse_zones', 'defined') | map(attribute='reverse_zones') | flatten) %}
zone "{{ rz }}.in-addr.arpa" {
	type master;
	file "/var/lib/bind/db.{{ rz }}";
	notify no;
	allow-update { key {{ dhcp_ddns_key }}; };
};
{% endfor %}
